.filter-grid {
    height: 50rem;
    background-color: $color-primary-dark;
    position: fixed;
    left: 0;
    padding: 3rem;
    padding-top: 8rem;
    margin-right: 2rem;
    height: 100vh;
    width: 40rem;
    box-shadow: 1px 5px 50px 10px rgba(0, 0, 0, 0.2);
}